<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="service.adress" value="soap.udp://localhost:8085/udp" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="V37ZEN.Datagram.EchoDatagramService" behaviorConfiguration="MyServiceBehavior">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="udp" binding="udpBinding" contract="V37ZEN.Datagram.IDatagramService" />
				<endpoint address="http" binding="basicHttpBinding" contract="V37ZEN.Datagram.IDatagramService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/datagram" />
						<add baseAddress="soap.udp://localhost:8085/datagram" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>