<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<udpBinding>
				<binding name="DatagramClientUdpEndpoint" />
			</udpBinding>
		</bindings>
		<client>
			<endpoint name="DatagramClientUdpEndpoint" 
				address="soap.udp://localhost:8085/datagram/udp" 
				bindingConfiguration="DatagramClientUdpEndpoint"
				binding="udpBinding" contract="V37ZEN.Datagram.IDatagramService"/>
		</client>
	</system.serviceModel>
</configuration>