<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <udpBinding>
                <binding name="MyUdpBinding" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="soap.udp://localhost:8085/udp/udp" binding="udpBinding"
                bindingConfiguration="MyUdpBinding" contract="V37ZEN.Datagram.IDatagramService"
                name="DatagramService_UdpBinding" />
        </client>
    </system.serviceModel>
</configuration>
